/* main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
}
h1 {
  font-size: 45px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
} */

body,html {
  height: 100%;
}



.mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-bottom:10%; */
  overflow: hidden;
  background-color: #333;
  /* background-color: rgba(255,255,255,0.5); */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity: .9;
  letter-spacing: 1;
  font-weight: 350;
}

.mainNav .active {
  float: left;
}

.mainNav ul li {
  float: right;
}

.mainNav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 10px; 
  text-decoration: none;
  
}

.mainNav li a:hover:not(.active) {
  background-color: #111;
}

/* p {
  padding:20px;
  margin-top:50px
} */

#hello {
max-width: 960px;
color: white;
position: absolute;
top: 50%;
min-height: 200px;
margin: auto;
margin-top: -140px;
left: 0;
right: 0;
border: 1px solid #fff;
text-align: center;
/* z-index: 2; */
background-color: rgba(0, 0, 0, 0.3);
opacity: 50%;
/* transform: translateY(3px);
animation: fadeInUp 350ms ease-in forwards; */

}

div#hello, h4 {
font-weight: 250;
letter-spacing: 2px;

opacity: 0;
transform: translateY(3px);
animation: fadeInUp 1100ms ease-in forwards; 
}

@keyframes fadeInUp {
0% { opacity: 0; transform: translateY(3px) }
100% { opacity: 1; transform: translateY(0px) }
}

h5 {
font-weight: 350;
letter-spacing: 1px;
}

h3 {
font-weight: 350;
letter-spacing: 1px;
}

div#hello, h2 {
font-weight: 250;
letter-spacing: 2px;
}

.parallaxone {
  /* The image used */
  background-image: url('https://www.publicdomainpictures.net/pictures/160000/velka/ordinateur-de-bureau-pc-1456070535WEH.jpg');

  /* Full height */
  height: 80%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* this is what's messing up the background images on mobile, make a media query to remove this */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxtwo {
  /* The image used */
  background-image: url('https://i.imgur.com/wEkGvqo.jpg');
  height: 50%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* this is what's messing up the background images on mobile, make a media query to remove this */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxthree {
  /* The image used */
  /* background-image: url('http://vunature.com/wp-content/uploads/2016/10/beaches-sunset-clouds-pines-california-beach-broken-sky-sea-torrey-hill-diego-ocean-san-nature-images-full-hd-1920x1080.jpg'); */
  background-image: url('https://i.imgur.com/mbzRhub.jpg');    
  height: 50%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* this is what's messing up the background images on mobile, make a media query to remove this */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#aboutme {
  text-align: left;
  /* height:300px;
  get rid of height so it's dynamic */
  background-color:white;
  padding: 50px;
  
 
}

#projects{
  
  /* height:1000px;  getting rid of height makes it dynamic and move with media query*/
  background-color:white;
  padding-bottom: 25px;
  padding-top: 50px;
}

.band {
  width: 60%;
  max-width: 1240px;
  margin: 0 auto;
   
  display: grid;
   
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr;
  }  
}  
/* changes the grid layout to 1fr x 1fr per row when resized under 500px */

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr;
  }
}

.projectList {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
   
  display: grid;
   
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10%;
}

@media only screen and (min-width: 500px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }  
}  
/* changes the grid layout to 1fr x 1fr per row when resized under 500px */

@media only screen and (min-width: 850px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
}
 
/* typography */
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
  font-weight: 350;
  letter-spacing: 1px;
}
 
.card p { 
  flex: 1;
  line-height: 1.4;
}
 
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card article {
  padding: 20px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.projectsheader{
    padding-bottom: 25px;
    text-align: center;
}

#contact{
  /* text-align: center; */
  background-color:white;
  /* padding-top: 50px; */
}

.contactheader{
  /* padding: 25px;
  text-align: center;  */
  padding-left: 10%;
  padding-top: 25px;
}

.contactform{
padding-left: 10%;
padding-bottom: 10%;
padding-right: 25%
}

/* .contactform .submitbutton:hover {
  background-color: #45a049;
} */

.giticon {
  color:inherit;
  padding-right: 10px
}

.giticon:hover{
  color: #753085;
  /* box-shadow: 0 0 5px green; */
  text-shadow: 0 0 5px #753085;
  transition: .7s;
}

.inicon {
  color:inherit;
  padding: 10px
}

.inicon:hover{
  color: #1178b3;
  /* box-shadow: 0 0 5px green; */
  text-shadow: 0 0 5px #1178b3;
  transition: .7s;
}

.emailicon {
color:inherit;
padding: 10px
}

.emailicon:hover{
color: #00a2ff;
/* box-shadow: 0 0 5px green; */
text-shadow: 0 0 5px #00a2ff;
transition: .7s;
}

.portfolioContent{
  /* padding: 10%, 5%; */
  margin-left:5%;
  margin-right:5%;
  margin-top: 7%;
  margin-bottom: 10%;
}

/* button styling https://codepen.io/MSACODE/pen/uncli?limit=all&page=4&q=button*/


.portButton {
  margin-right: 10px;
  font-size: 1.0rem;
  padding: .5rem 1rem;
  display: inline-block;
  background-color: #009ac9;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portButton:hover {
  background-color: #ffffff;
  color: #009ac9;
  border-color: #009ac9;
}

#project-1{
padding-top: 50px;
}

#project-2{
padding-top: 50px;
}

#project-3{
padding-top: 50px;
}

#project-4{
padding-top: 50px;
}



/* a.aboutanchor{
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
} */

/* element selected{
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
} */

/* for the fixed background image scrolling, need to get rid of the fixed background 
http://vunature.com/wp-content/uploads/2016/10/beaches-sunset-clouds-pines-california-beach-broken-sky-sea-torrey-hill-diego-ocean-san-nature-images-full-hd-1920x1080.jpg*/
